.chat-info {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__name {
    font-size: 20px;
    font-weight: 700;
  }

  &__settings {
    font-size: 20px;
  }
}
