.context-menu {
  display: none;
  background: #000;
  padding: 12px;
}

.context-menu.active {
  position: absolute;
  display: block;
}

.context-menu__item {
  margin: 0;
}

.context-menu__item:not(:last-child) {
  margin-bottom: 10px;
}

.context-menu__item:hover .context-menu__text {
  cursor: pointer;
  opacity: 0.8;
}

.context-menu__text {
  color: #fff;
  transition: opacity 0.5s;
}
