.auth {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapper {
    width: 320px;
    padding: 15px;
    background: #000;
    border-radius: 5px;
    margin: auto;
  }

  &__input {
    width: 60%;
  }

  &__forgetPass {
    margin-top: 5px;
    display: block;
    width: 100%;
  }

  &__restore-password {
    color: #fff;
  }
}
