.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__num {
    font-size: 80px;
  }

  &__text {
    font-size: 24px;
    margin-bottom: 25px;
  }
}