.form {
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 18px;
    text-align: center;
    color: #fff;
    margin-bottom: 15px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__label {
    display: block;
    margin-bottom: 8px;
    color: #fff;
  }

  &__input {
    width: 100%;
    height: 20px;
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  &__button {
    &:not(:first-child) {
      margin-left: 20px;
    }
  }
}